@charset "UTF-8";

body{
    background-color: rgb(201, 211, 181);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color:rgb(86, 109, 41) ;

}
h1#principal{
    text-align: center;
    background-color:rgb(86, 109, 41) ;
    color: white;

}
h2{
  color: rgb(75, 97, 31);

}

.basico{
    color: rgb(0, 26, 26);
    
}

.intermediario{
    color:rgb(65, 32, 20);
}

.avancado{
    color: brown;
}

.destaque{
    background-color: rgba(78, 78, 201, 0.425);
}